p { color:rgb(100,100,255); }
div {
  border: 1px solid black;
  margin: 25px 50px 75px 100px;
  background-color: lightblue; }
div:hover {
  border: 1px solid black;
  margin: 25px 50px 75px 100px;
  background-color: blue; }
