p { color:rgb(100,100,255);
   border-style: solid;
border-color: blue;
  padding: 10rem;}
p:hover { color:rgb(100,100,255);
border-style: solid;
padding: 1rem;
border-color: blue;
background-color: rgb(180,180,255}
 
